#optimize-bar {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#optimize-lebel {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: #edc6ff;
}
/* OPTIMIZE CHECKBOX */
#optimize-checkbox {
  border: 2px solid #edc6ff;
  background-color: #edc6ff;
  accent-color: #edc6ff;
}
/* STATUS BAR */
#status-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 4px;
  align-items: start;
  width: 200px;
  background-color: #edc6ff;
}
#status-text {
  display: block;
}
#status-selected {
  display: block;
  text-align: start;
}
